@font-face {
    font-family: 'Quicksand';
    src: url('fonts/Quicksand-Regular.woff2') format('woff2'),
        url('fonts/Quicksand-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Quicksand',system-ui;
}

#pfp-a{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 20px; 
    margin-right: 20px;

}

#pfp-b{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px; 
}

.container{
    height: 100vh; 
    display:grid; 
    grid-template: 1fr 4fr/1.1fr 4fr;  
    gap: 3px;
}

.container>*{
    box-shadow:  2px 2px 3px  black;
}


.sidebar{
    color: white;
    background-color: rebeccapurple;
    grid-row: 1/3;
    grid-column:1/2;
    padding: 20px;
    display: grid;
    grid-template: 2fr 5fr 3fr 6fr/1fr;  
}

.sidebar>*{
    font-size: 1.5rem;
}

.sidebar ul{
    list-style-type:none ;
}

ul>li{
    margin: 5px;
    padding: 5px;
}

ul>li:hover{
    font-style: italic;
    cursor: pointer;
    color: hotpink;
    
}

.sidebar h2{
    font-size: 2rem;
    font-family:'Quicksand',system-ui ;
    font-weight: 900;  
}

svg {
    margin-right: 10px; 
     width: 1.9rem;
}

.card svg:hover{
    fill: gold;
    cursor: pointer;
}
h2 svg{
    width: 2.5rem;
}
h2, ul>li{
    display: flex;
    align-items: center;
    gap: 5px;
}



.header{
    grid-area: 1/2/2/3;
    display: grid;
    grid-template: 2fr 3fr/1fr;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.upper-header{
   display: grid;
   grid-template:1fr/3fr 1.3fr;
   align-items: center;
   font-weight:900;
   font-size: 1.2rem;   

}

.upper-header img:hover{
     transform: scale(1.2);
     cursor: pointer; 
}
.upper-header span:hover{
    cursor: pointer;
    color: rebeccapurple;
}


input[type="search"]{
    height: 30px;  
     width: 80% ;
    background-color: rgb(224, 241, 255);
    border-radius: 15px; 
    border: solid 1px black;
    justify-self: end;
    padding: 8px;
    margin-left: 10px;
}
.lower-header{
   display: grid;
   grid-template:1fr/4fr  repeat(3,1fr);
   align-items: center;
}

.lower-header > div{
    display: flex;
    align-items: center;
    font-weight: 800; 
}

.lower-header > div > div> p{
    text-align: center;
    font-size: 1.7rem;  
    font-weight: 900;
}

.content{
    background-color: rgb(201, 209, 221);
    grid-area: 2/2/3/3;
    display: grid;
    grid-template: 1fr 5fr 1fr 5fr/ 6fr 2fr ;
    padding: 0px 20px 40px 0px;  
}

.projects-header{
    grid-area: 1/1/2/3;
}
.ann-header{
    grid-area: 1/2/2/4; 
}

.projects-header, .ann-header, .trend-header{ 
    padding: 0px 20px;
    justify-self: start;
    align-self: center;
}
.projects {
    grid-area: 2/1/5/2;
    display: grid;
    grid-template:  repeat(3, 4fr) / repeat(2, 1fr);
    gap: 25px; 
    padding: 0px 20px; 
}

.announcements, .trending{
    display: grid; 
    background-color: white; 

}

.announcements{
    grid-area: 2/2/3/3; 
    padding: 10px 20px;
    grid-template: repeat(3,1fr)/1fr ; 
    gap: 2px;
}
.announce,.profile{
    padding: 20px 10px ; 
 }
.announce + .announce{
    border-top: 1px solid gray; 
}

.trend-header{
    grid-area:3/2/4/3; 
}

.trending{
    grid-area: 4/2/5/3;
    padding: 30px 20px;
    display: grid;
    grid-template: repeat(4,1fr)/1fr ; 
    gap: 2px; 
}
button{
    border: none;
    border-radius: 25px;  
    width: 110px; 
    height: 40px ; 
    margin: 0px 5px;  
    cursor: pointer;
    color: white;
    background-color: rebeccapurple;
    font-weight: 900;   
    font-size: 1rem;
}



form, form+div{
    display: flex; 
    justify-content: start;
    align-items: center; 
}



.card{
    background-color:white;
    color: black;
    padding: 40px 30px; 
    border-left: 10px solid hotpink;
    display: grid
}


.svg-container{
    align-self: end;
    justify-self: end;
    position: relative;
}
.card,.announcements,.trending {
    border-radius: 10px; 
    box-shadow: 2px 2px 5px gray;

}

h3+p{
    color: rgba(58, 8, 104, 0.699);
    font-weight: 600;
}

.announce:hover{
    color: blueviolet;
    cursor: pointer;
}

.card>h3:hover{
    cursor: pointer;
    color: blueviolet;
}



button:hover{
background-color: rgb(102, 51, 153, 0.8);
box-shadow: 2px 2px 2px black;  
}

button:active,span:active{
    transform: translateY(2px); 

}

.profile>img{
    width: 3rem;
    height: 3rem; 
    border-radius: 50%;
    margin-right: 15px;  
}

.profile{
    display:flex ;
}

.profile:hover{
    cursor: pointer;
         transform: scale(1.1);

}

.profile p:first-child{
    font-weight: 800;
}

p+p{
    color: rgba(58, 8, 104, 0.699);
    font-weight: 600;  
}