@font-face {
    font-family: 'Alex Brush';
    src: url('AlexBrush-Regular.woff2') format('woff2'),
        url('AlexBrush-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Quicksand';
    src: url('Quicksand-Regular.woff2') format('woff2'),
        url('Quicksand-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Oswald';
    src: url('Oswald-Regular.woff2') format('woff2'),
        url('Oswald-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rock Salt';
    src: url('RockSalt-Regular.woff2') format('woff2'),
        url('RockSalt-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Josefin Sans';
    src: url('JosefinSans-Thin.woff2') format('woff2'),
        url('JosefinSans-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

